.page {
    background-image: url("../assets/search-bg.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    mix-blend-mode: darken;
    background-color: #7C9070;
}
.page__headline {
    color: #60675B;
    text-align: center;
    margin: 0 0 40px 0;
}
.page__container {
    padding: 40px 0;
    display: flex;
    margin: 0 100px;
}
.page__form {
    padding: 50px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
}
.page__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.page__label-text {
    color: #60675B;
    font-size: 14px;
    margin-bottom: 5px;
}
.page__input {
    box-sizing: border-box;
    padding: 0 15px;
    height: 50px;
    width: 450px;
    border: 1px solid #60675B;
    border-radius: 5px;
    margin-bottom: 15px;
}
.page__input:hover {
    background-color: #f5f5f5;
}
.page__button {
    font-size: 16px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #F7944E;
    margin-right: 0;
    color: #ffffff;
}

/* HOUSECARD STYLES */

.housecard {
    box-sizing: border-box;
    margin: 20px 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
}
.housecard__wrapper {
    display: flex;
}
.housecard__image-wrapper {
    margin-right: 25px;
    padding: 25px;
}
.housecard__info {
    padding: 25px 25px 25px 0;
}
.housecard__image {
    border-radius: 5px;
}
.housecard__name {
    margin: 0;
    font-size: 24px;
    color: #60675B;
}
.housecard__address {
    color: #7C9070;
    margin: 15px 0;
}
.housecard__description {
    font-size: 14px;
}
.housecard__price-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7944E;
    color: #fff;
    border-radius: 0 5px 5px 0;
    width: 100px;
    padding: 25px;
}
.housecard__price {
    font-size: 36px;
}
.housecard__currency {
    font-size: 14px;
}
.pagination {
    justify-content: center;
    margin: 30px 0;
}
.pagination a {
    color: #60675B;
}
.pagination a:hover {
    color: #60675B;
}
.active > .page-link{
    border-color: #F7944E;
    background-color: #F7944E;
}

