.header {
    padding: 0 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #60675B;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__menu {
    display: flex;
}
.header__menu-item {
    margin-left: 75px;
}
.header__user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    object-fit: cover;
    border: 3px solid #7C9070;
}
.header__user {
    display: flex;
    align-items: center;
}

.user-menu button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    color: #60675B;
}
.user-menu button:hover {
    border: none;
    background-color: #FAFAFA;
    color: #60675B;
}
.user-menu button:after {
    margin-left: 5px;
}
.user-menu__dropdown {
    width: 250px;
}
.user-menu__item {
    color: #60675B;
    display: flex;
    align-items: center;
    height: 50px;
}
.user-menu__item a {
    color: #60675B;
}
.user-menu__icon {
    color: #60675B;
    margin-right: 15px;
}