@import 'components/Header/Header.css';
@import 'components/Footer/Footer.css';
@import 'components/Search/Search.css';
@import 'pages/PagesStyles.css';
@import 'components/Loader/Loader.css';
@import 'pages/HousePage/HousePage.css';
@import 'pages/Trips/Trips.css';
@import 'pages/MyHouses/MyHouses.css';
@import 'pages/Booking/Booking.css';
@import 'pages/InfoPages/InfoPages.css';

body {
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0 0 0 20px;
}
li {
    list-style: none;
}
.button-cta {
    background: #F7944E;
    margin-right: 0;
    color: #ffffff;
}
.button-cta:hover {
    background: #FCA669;
}

